body{
    font-family: 'Ubuntu', sans-serif;
}
hr{
    margin: 5px 5px 5px 0px;
    background-color: tomato;
}

.pixStyle{
    color: tomato;
    font-weight: bolder;
}

.labelStyle{
    color:rgb(50, 50, 50);
    font-weight: bolder;
}